@import 'bootstrap/_bootstrap';
@import 'variables';
@import 'spinner';

body{
    padding-top:50px;
}

.header{
    background-color:$maincolor;    
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-brand{
    color: white;
}


