doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    nav.navbar.navbar-default.navbar-static-top
      div.container-fluid
        div.navbar-header
          div.navbar-brand SDN Event
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li 
              a(href='/') schedule 
                span.sr-only (current)
            li
              a(href="/speakers") speakers
               
    block content

    script(src='/scripts/index.js')