div.page-header
  h1= speaker
    small &nbsp; Sessions   
for session in sessions               
  div.panel.panel-primary
    div.panel-heading
      div.row
        div.col-md-8= session.title
        div.col-md-4
          span= session.starttime
          | &nbsp;&#8209;&nbsp;
          span= session.endtime